<h1>Latacunga</h1>
<p>Latacunga es una ciudad de Ecuador, capital de la provincia de Cotopaxi y cabecera cantonal del cantón homónimo. Se encuentra en la Sierra centro del país, en las estribaciones de la cordillera de los Andes en Ecuador, cerca del volcán Cotopaxi en la hoya de Patate. Se encuentra a 2750 metros sobre el nivel del mar y tiene una temperatura promedio de 12 grados Celsius.

Conocida como: "Latacunga, Pensil de los Andes", "Latacunga Romántica", "Ciudad de León", "la ciudad de los mashcas". Es una ciudad que en el siglo XXI demostrò un desarrollo sostenido que la colocó entre las ciudades más importantes de la sierra ecuatoriana. Todos los atributos históricos, arquitectónicos y culturales que posee Latacunga le han permitido ser considerada como Ciudad Patrimonial de la Nación.

Alrededor de la ciudad de Latacunga se encuentra un importante número de industrias florícolas que han dinamizado su economía convirtiéndola en el motor económico y generador de divisas de la Sierra Centro, además, Latacunga cuenta con industria minera de caliza y cemento, industrias metalúrgicas liviana y pesada, agroindustria, industria lechera y ganadera, posee un aeropuerto internacional y en la parte urbana posee grandes mercados y centros comerciales modernos que la convierten en el centro comercial de la nación ecuatoriana.</p>
